<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--指定mapper位置-->
<mapper namespace="com.lyq.mapper.MoldMapper" >

    <!-- 查询所有类型加分页 -->
    <select id="queryMold" resultType="com.lyq.model.Mold">
        select * from t_mold
    </select>
    <!-- 删除类型 -->
    <delete id="deleteMold" parameterType="com.lyq.model.Mold">
        delete from t_mold where id = #{id}
    </delete>
    <!-- 新增类型 -->
    <insert id="addMold" parameterType="com.lyq.model.Mold">
        insert into t_mold
        (id,name)
        values
        (#{id},#{name})
    </insert>
    <!-- 修改回显 -->
    <select id="queryMoldById" parameterType="com.lyq.model.Mold" resultType="com.lyq.model.Mold">
        select * from t_mold where id = #{id}
    </select>
    <!-- 修改类型 -->
    <update id="updateMold" parameterType="com.lyq.model.Mold">
        update t_mold set name = #{name} where id = #{id}
    </update>
    <!-- 柱 折 饼 报表查询 -->
    <select id="reportsPillar" resultType="com.lyq.model.Mold">
        select t.`name` as name,count(t.`name`) as reports from t_mold t,t_course c
        where t.id = c.mold GROUP BY t.`name`
    </select>
    <!-- 查询所有类型加分页 -->
    <select id="queryMoldList" resultType="com.lyq.model.Mold">
        select *  from t_mold
        WHERE 1=1
        <if test="mold.name !=null and mold.name !='' ">
            and  name like '%${mold.name}%'
        </if>
    </select>
</mapper>